* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    width: 100%;
}

#content-body {
    font-size: 1.5rem;
}

.header {
    /* border: solid 0.5px black; */
    border-bottom: solid 0.5px black;
    /* margin-top: 1rem; */

}

.borderradiu {
    border-radius: 0.5rem;
    font-size: 10px;
}

.button {
    width: 50px;
    text-decoration: none;
    border: solid 0.5px black;
    background-color: white;
    border-radius: 2rem;
    margin-left: 0.5rem;
}

#add-form button {
    width: 20%;
    cursor: pointer;
}

#add-form button:active {
    background-color: #00ffee;
}

.button:hover {
    cursor: pointer;
    text-decoration: underline;
}

.div-row-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-col-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.right {
    justify-content: flex-end;
    /* position: absolute;
    right: 1rem; */
    /* float: right; */
}

.sidebar {
    width: 22rem;
    height: 100%;
    left: 0px;
}

h1 {
    text-align: center;
    width: 100%;
}

.contant-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search {
    width: 100%;
    box-sizing: 50%;
    /* border: 2px solid #ccc; */
    /* border-radius: 4px; */
    font-size: 4px;
    background-image: url('searchicon.png');
}

#add-form input {
    height: 2rem;
    margin: 0.5rem;
    box-sizing: border-box;
    padding: 12px 12px;
    resize: vertical;
    width: 70%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    width: 20%;
}

#add-form input[type=radio] {
    vertical-align: middle;
    /* height: 100%; */
    width: auto;
    margin: 0px;

}

.length {
    width: 80%;
    height: 80%;
}

.col-25 {
    width: 20%;
    /* float: left; */
}

.col-75 {
    width: 60%;
    /* float: left; */
}

#add-form>* {
    width: 100%;
    font-size: 1rem;
}